.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-applebase {
    width: 120px;
    height: 120px;
    background-position: -5px -5px;
}

.sprite-applebullet {
    width: 30px;
    height: 30px;
    background-position: -135px -5px;
}

.sprite-appledude-base {
    width: 60px;
    height: 60px;
    background-position: -175px -5px;
}

.sprite-appledude-dude {
    width: 60px;
    height: 60px;
    background-position: -245px -5px;
}

.sprite-appledude-tower {
    width: 60px;
    height: 60px;
    background-position: -315px -5px;
}

.sprite-appletower {
    width: 60px;
    height: 60px;
    background-position: -135px -75px;
}

.sprite-bananabase {
    width: 120px;
    height: 120px;
    background-position: -205px -75px;
}

.sprite-bananabullet {
    width: 30px;
    height: 30px;
    background-position: -335px -75px;
}

.sprite-bananadude-base {
    width: 60px;
    height: 60px;
    background-position: -5px -205px;
}

.sprite-bananadude-dude {
    width: 60px;
    height: 60px;
    background-position: -75px -205px;
}

.sprite-bananadude-tower {
    width: 60px;
    height: 60px;
    background-position: -145px -205px;
}

.sprite-bananatower {
    width: 60px;
    height: 60px;
    background-position: -215px -205px;
}

.sprite-grapebase {
    width: 120px;
    height: 120px;
    background-position: -385px -5px;
}

.sprite-grapebullet {
    width: 30px;
    height: 30px;
    background-position: -5px -135px;
}

.sprite-grapedude-base {
    width: 60px;
    height: 60px;
    background-position: -45px -135px;
}

.sprite-grapedude-dude {
    width: 60px;
    height: 60px;
    background-position: -335px -135px;
}

.sprite-grapedude-tower {
    width: 60px;
    height: 60px;
    background-position: -405px -135px;
}

.sprite-grapetower {
    width: 60px;
    height: 60px;
    background-position: -285px -205px;
}

.sprite-watermelonbase {
    width: 120px;
    height: 120px;
    background-position: -355px -205px;
}

.sprite-watermelonbullet {
    width: 30px;
    height: 30px;
    background-position: -475px -135px;
}

.sprite-watermelondude-base {
    width: 60px;
    height: 60px;
    background-position: -5px -335px;
}

.sprite-watermelondude-dude {
    width: 60px;
    height: 60px;
    background-position: -75px -335px;
}

.sprite-watermelondude-tower {
    width: 60px;
    height: 60px;
    background-position: -145px -335px;
}

.sprite-watermelontower {
    width: 60px;
    height: 60px;
    background-position: -215px -335px;
}
